body {
    background-color: hsl(60,27%,94%);
    font-family: Garamond, serif;
}
h1 {
    text-align: center;
}
h2 {
    background-color: darkslategrey;
    color: hsl(60,27%,94%);
    text-align: center;
    margin-top: 0;
}
h3 {
    background-color: white;
}
.recipe-toc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
}
figure {
    text-align: center;
}
a {
    text-decoration: none;
}
.description, .information {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 32px;
    gap: 32px;
}
.description {
    align-items: center;
}
img {
    flex: 0 1 300px;
}
.text, p {
    flex: 0 1 600px;
}
.ingredients {
    flex: 0 1 400px;
}
.steps {
    flex: 0 1 600px;
}
ul {
    list-style-type: none;
    padding: 0;
}
ol {
    padding: 0 0 0 30px;
}
li {
    margin-bottom: 1.5rem
}
